click==7.1.2
Flask==1.1.2
Werkzeug==1.0.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy
pandas==1.2.3
scikit-learn
mlxtend
json5==0.9.5
conda==4.10.3
conda-build==3.21.4
conda-verify==3.4.2
anaconda-client==1.7.2
anaconda-navigator==2.0.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
